* {
    margin: 0;

}


body {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    background-color: #d4d4d8;
    color: #52525b;
}


/* HEADER */
header {
    padding: 20px;
    margin-bottom: 40px;
    background-color: #171717;
    color: wheat;

}

h1 {
    font-size: 4rem;
}


/* MAIN */
.gameboard {
    margin: auto;
    border: 4px solid #52525b;
    display: grid;
    grid-template-columns: 126.6px 126.6px 126.6px;
    grid-template-rows: 126.6px 126.6px 126.6px;
    width: 380px;
    height: 380px;
    flex-wrap: wrap;
}

.gameboard-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #52525b;
    background-color: #f4f4f5;
}

.gameboard-cell:hover {
    background-color: #ffefd29d;
}

.message {
    font-size: 2.4rem;
    padding: 28px;
    color: #52525b;
}

.player-sign {
    color: #171717;
}

.restart-btn {
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Varela Round', sans-serif;
    padding: 10px 18px;
    border-radius: 13px;
    margin-bottom: 40px;
    background-color: #171717;
    color: wheat;
    border: 3px solid #52525b;
}

.restart-btn:hover {
    background-color: wheat;
    color: #171717;
}

.restart-btn:active {
    background-color: #171717;
    color: wheat;
}


/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

a {
    color: inherit;

}

.fa-github {
    margin-left: 4px;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.4);
    transition: transform 0.3s ease-in-out;
}


/* JS add */
.clicked {
    font-size: 4.5rem;
}